<div class="section-components" [@fadeInOnEnter]>
    <div class="container-pag">
        <div class="conteudo">
            <h3 *ngIf="!trueAboutImagem">Highlights</h3>
            <div class="text">
                Meu nome é Antonio Marques Ferreira Neto, tenho 23 anos, e sou formado em Sistemas de Informação
                pela Universidade Estadual de Goiás - UEG, e atualmente atuo como programador .NET. Pela minha
                paixão por desenvolvimento de software, estou
                constantemente aprimorando minhas soft e hard skills, resultando em uma aptidão pela concepção e
                resolução
                na solução de problemas por meio da técnica, seja trabalhando com .NET, ASP.NET, APIs REST, C#,
                Angular ou outras tecnologias de alto desempenho. Já que, o importante é apreciar e superar desafios!
            </div>
            <div class="tags" *ngIf="!larguraMinima">
                <div class="tag">Angular</div>
                <div class="tag">.NET</div>
                <div class="tag">AspNet MVC</div>
                <div class="tag">Sql Server</div>
            </div>
        </div>
        <img src="assets/home-imagem.jpg" *ngIf="!trueAboutImagem else cardtemplate">
        <ng-template #cardtemplate>
            <img src="assets/cardabout.avif" class="aboutcard">
        </ng-template>
    </div>
</div>