<nav class="mymenu padding-components">
    <h3>Software <span>Developer</span></h3>
    <div class="flex-list" *ngIf="!larguraMinima else barstemplate">
        <nav class="list-menu">
            <a class="opcao" routerLink="/home" [class.componentSelect]="validaRota('home')">Home</a>
            <a class="opcao" routerLink="/about" [class.componentSelect]="validaRota('about')">About</a>
            <a class="opcao" routerLink="/projetos" [class.componentSelect]="validaRota('projetos')">Projects</a>
            <a class="opcao" href="assets/Currículo - Antonio Marques Ferreira Neto.pdf" download>Curriculum</a>
        </nav>
        <button (click)="displayFormContate()" class="button-class color-edit">Contate-me</button>
    </div>
    <ng-template #barstemplate>
        <div class="bars-template" [mat-menu-trigger-for]="menu"><i class="fa-solid fa-bars"></i></div>
        <mat-menu #menu="matMenu">
            <button routerLink="/home" mat-menu-item>Home</button>
            <button routerLink="/about" mat-menu-item>About</button>
            <button routerLink="/projetos" mat-menu-item>Projects</button>
            <button (click)="displayFormContate()" mat-menu-item>Contate-me</button>
            <a href="assets/Currículo - Antonio Marques Ferreira Neto.pdf" target="_blank" mat-menu-item>Curriculum</a>
        </mat-menu>
    </ng-template>
</nav>